*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(246, 155, 170);
}

.style{
    width: 1370px;
    height: 600px;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(106, 102, 102);
    margin-top: 60px;
    margin-left: 80px;
}

nav a{
    color: gray;
    text-decoration: none;
    font-size: 25px;
    padding-left: 100px;  
    font-weight: bold;
    font-family: monospace;
}

nav{
    margin-top: -580px;
    height: 80px;
    margin-left: 200px;
}

nav a:hover{
    color: rgb(65, 63, 63);
    text-decoration: underline;
}

nav .active{
    color: black;
    text-decoration: underline;
}

nav span{
    background-color: rgb(107, 95, 101);
    color: white;
    padding: 4px 19px;
    margin-left: 970px;
    border-radius: 10px;
}
  
nav span:hover{
    background-color: black;
    color: white;
}

.logo img{
    width: 120px;
    height: 140px;
    margin-left: 100px;
    margin-top: -75px;
    border-radius: 75px;
}

h1{
    margin-top: -5px;
    margin-left: 300px;
    color: rgb(223, 66, 92);
    font-size: 35px;
}

p{
    text-align: center;
    margin-right: 610px;
    font-size: 17px;
    font-family: cursive;
    font-weight: 600;
}

.cont i{
    margin-left: 310px;
    padding: 10px;
    font-size:30px;
    color: rgb(172, 0, 29);
    font-weight: 600;
}

.cont h4{
    margin-left: 380px;
    font-size: 25px;
    color: rgb(71, 70, 70);
}

h2{
    margin-top: -380px;
    margin-left: 950px;
    color: rgb(223, 66, 92);
    font-size: 35px; 
}

h3{
    text-align: center;
    margin-left: 50%;
    font-size: 25px;
}

h5{
    text-align: center;
    margin-left: 50%;
    font-size: 27px;
    color: rgb(172, 0, 29);
}

/* phone */

@media (min-width: 310px) and (max-width: 480px) {
    
    body{
        background-color: rgb(246, 155, 170);
    }

    .style{
        width: 328px;
        height: 645px;
        background-color: white;
        box-shadow: 10px 10px 5px rgb(106, 102, 102);
        margin-top: 20px;
        margin-left: 15px;
    }

    nav a{
        color: gray;
        text-decoration: none;
        font-size: 13.5px;
        padding-left: 6px;  
        font-weight: bold;
        font-family: monospace;
    }

    nav{
        margin-top: -620px;
        height: 80px;
        margin-left: 84px;
    }

    nav a:hover{
        color: rgb(65, 63, 63);
        text-decoration: underline;
    }

    nav .active{
        color: black;
        text-decoration: underline;
    }

    nav span{
        background-color: rgb(107, 95, 101);
        color: white;
        margin-left: 140px;
        border-radius: 10px;

    }
    
    nav span:hover{
        background-color: black;
        color: white;
    }

    .logo img{
        width: 60px;
        height: 80px;
        margin-left: 25px;
        margin-top: -205px;
        margin-bottom: 20px;
        border-radius: 75px;
    }
        
    h1{
        margin-top: -35px;
        margin-left: 115px;
        color: rgb(223, 66, 92);
        font-size: 18px;
    }

    p{
        text-align: center;
        margin-right: 50px;
        margin-left: 60px;
        margin-top: -10px;
        font-size: 14px;
        font-family: cursive;
        font-weight: 700;
    }

    .cont i{
        margin-left: 70px;
        margin-top: -30px;
        padding: 5px;
        font-size: 17px;
        color: rgb(172, 0, 29);
        font-weight: 600;
    }

    .cont h4{
        margin-left: 130px;
        font-size: 16px;
        color: rgb(71, 70, 70);
    }

    h2{
        margin-top: 10px;
        margin-left: 95px;
        color: rgb(223, 66, 92);
        font-size: 18px; 
    }

    h3{
        text-align: center;
        margin-left: 10px;
        font-size: 16px;
        margin-top: 1.5px;
    }

    h5{
        text-align: center;
        margin-left: 10px;
        margin-top: -50px;
        font-size: 18px;
        color: rgb(172, 0, 29);
    }
}

/* tab */

@media (min-width: 501px) and (max-width: 900px){
    
    body{
        background-color: rgb(246, 155, 170);
    }

    .style{
        width: 850px;
        height: 600px;
        background-color: white;
        box-shadow: 10px 10px 5px rgb(106, 102, 102);
        margin-top: 25px;
        margin-left: 25px;
    }
        
    nav a{
        color: gray;
        text-decoration: none;
        font-size: 23px;
        padding-left: 50px;  
        font-weight: bold;
        font-family: monospace;
    }

    nav{
        margin-top: -580px;
        height: 80px;
        margin-left: 180px;
    }

    nav a:hover{
        color: rgb(65, 63, 63);
        text-decoration: underline;
    }

    nav .active{
        color: black;
        text-decoration: underline;
    }

    nav span{
        background-color: rgb(107, 95, 101);
        color: white;
        padding: 4px 19px;
        margin-left: 520px;
        border-radius: 10px;
    }
    
    nav span:hover{
        background-color: black;
        color: white;
    }

    .logo img{
        width: 110px;
        height: 130px;
        margin-left: 50px;
        margin-top: -75px;
        border-radius: 75px;
    }
        
    h1{
        margin-top: -15px;
        margin-left: 180px;
        color: rgb(223, 66, 92);
        font-size: 28px;
    }

    p{
        text-align: center;
        margin-right: 450px;
        margin-left: 60px;
        font-size: 17px;
        font-family: cursive;
        font-weight: 600;
    }

    .cont i{
        margin-left: 160px;
        padding: 10px;
        font-size: 25px;
        color: rgb(172, 0, 29);
        font-weight: 600;
    }

    .cont h4{
        margin-left: 210px;
        font-size: 23px;
        color: rgb(71, 70, 70);
    }

    h2{
        margin-top: -400px;
        margin-left: 550px;
        color: rgb(223, 66, 92);
        font-size: 28px; 
    }

    h3{
        text-align: center;
        margin-left: 50%;
        font-size: 25px;
    }

    h5{
        text-align: center;
        margin-left: 50%;
        font-size: 27px;
        color: rgb(172, 0, 29);
    }

}