*{
    margin: 0;
    padding: 0;
}

nav a{
    color: gray;
    text-decoration: none;
    font-size: 25px;
    padding-left: 100px;  
    font-weight: bold;
    font-family: monospace;
}

nav{
    margin-top: 20px;
    height: 80px;
    margin-left: 200px;
}

nav a:hover{
    color: rgb(65, 63, 63);
    text-decoration: underline;
}

nav .active{
    color: black;
    text-decoration: underline;
}

nav span{
    background-color: rgb(107, 95, 101);
    color: white;
    padding: 4px 19px;
    margin-left: 180px;
    border-radius: 10px;
}
   
nav span:hover{
    background-color: black;
    color: white;
}

.logo img{
    margin-top: -75px;
    width: 120px;
    height: 140px;
    margin-left: 100px;
    border-radius: 75px;
}

.all{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
}

.all img{
    width: 400px; 
    margin-top: 20px; 
}

.all h1{
    margin-top: 50px;
    margin-left: -60px;
    font-size: 45px;
    font-weight: 900;
    color: rgb(243, 26, 62);
}

.all p{
    font-size: 25px;
    margin-left: -30px;
    margin-top: 10px;
    font-family: cursive;
    text-align: justify;
}

/* phone */

@media (min-width: 310px) and (max-width: 480px) {
     
    nav a{
        color: gray;
        text-decoration: none;
        font-size: 14px;
        padding-left: 9px;  
        font-weight: bold;
        font-family: monospace;
    }
    
    nav{
        margin-top: 20px;
        height: 80px;
        margin-left: 70px;
    }

    nav a:hover{
        color: rgb(65, 63, 63);
        text-decoration: underline;
    }

    nav .active{
        color: black;
        text-decoration: underline;
    }

    nav span{
        background-color: rgb(107, 95, 101);
        color: white;
        padding: 4px 19px;
        margin-left: 150px;
        border-radius: 10px;
    }
    
    nav span:hover{
        background-color: black;
        color: white;
    }

    .logo img{
        width: 70px;
        height: 90px;
        margin-left: 6px;
        margin-top: -80px;
        margin-bottom: 10px;
        border-radius: 75px;
    }

    .all{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5px;
    }

    .all img{
        width: 170px; 
        margin-top: 5px; 
    }

    .all h1{
        margin-top: -10px;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 900;
        color: rgb(243, 26, 62);
    }

    .all p{
        font-size: 12px;
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 25px;
        font-family: cursive;
        text-align: justify;
    }

}

/* tab */

@media (min-width: 501px) and (max-width: 900px){
      
    nav a{
        color: gray;
        text-decoration: none;
        font-size: 23px;
        padding-left: 75px;  
        font-weight: bold;
        font-family: monospace;
    }
    
    nav{
        margin-top: 20px;
        height: 80px;
        margin-left: 200px;
    }

    nav a:hover{
        color: rgb(65, 63, 63);
        text-decoration: underline;
    }

    nav .active{
        color: black;
        text-decoration: underline;
    }

    nav span{
        background-color: rgb(107, 95, 101);
        color: white;
        padding: 4px 19px;
        margin-left: 480px;
        border-radius: 10px;
    }
    
    nav span:hover{
        background-color: black;
        color: white;
    }


    .logo img{
        width: 110px;
        height: 130px;
        margin-left: 50px;
        margin-top: -75px;
        border-radius: 75px;
    }

    
    .all{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 20px;
    }

    .all img{
        width: 350px; 
        margin-top: -20px; 
    }

    .all h1{
        margin-top: 20px;
        margin-left: 10px;
        font-size: 45px;
        font-weight: 900;
        color: rgb(243, 26, 62);
    }

    .all p{
        font-size: 20px;
        margin-left: -10px;
        margin-top: 10px;
        font-family: cursive;
        text-align: justify;
    }

}