*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(246, 155, 170);
}

.style{
    width: 1370px;
    height: 600px;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(106, 102, 102);
    margin-top: 60px;
    margin-left: 80px;
}

nav a{
    color: gray;
    text-decoration: none;
    font-size: 25px;
    padding-left: 100px;  
    font-weight: bold;
    font-family: monospace;
}

nav{
    margin-top: -580px;
    height: 80px;
    margin-left: 200px;
}

nav a:hover{
    color: rgb(65, 63, 63);
    text-decoration: underline;
}

nav .active{
    color: black;
    text-decoration: underline;
}

nav span{
    background-color: rgb(107, 95, 101);
    color: white;
    padding: 4px 19px;
    margin-left: 970px;
    border-radius: 10px;
}
   
nav span:hover{
    background-color: black;
    color: white;
}

.logo img{
    width: 120px;
    height: 140px;
    margin-left: 100px;
    margin-top: -75px;
    border-radius: 75px;
}

h1{
   text-align: center;
   margin-top: -30px;
   font-family: cursive;
}

h1 span{
    color: rgb(223, 66, 92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 45px;
    font-size: 23px;
    font-family: monospace;
    text-align: justify;
}


/* phone */

@media (min-width: 310px) and (max-width: 480px) {
    
    body{
        background-color: rgb(246, 155, 170);
    }

    .style{
        width: 328px;
        height: 645px;
        background-color: white;
        box-shadow: 10px 10px 5px rgb(106, 102, 102);
        margin-top: 20px;
        margin-left: 15px;
    }

    nav a{
        color: gray;
        text-decoration: none;
        font-size: 13.5px;
        padding-left: 6px;  
        font-weight: bold;
        font-family: monospace;
    }

    nav{
        margin-top: -620px;
        height: 80px;
        margin-left: 84px;
    }

    nav a:hover{
        color: rgb(65, 63, 63);
        text-decoration: underline;
    }

    nav .active{
        color: black;
        text-decoration: underline;
    }

    nav span{
        background-color: rgb(107, 95, 101);
        color: white;
        margin-left: 140px;
        border-radius: 10px;

    }
    
    nav span:hover{
        background-color: black;
        color: white;
    }

    .logo img{
        width: 60px;
        height: 80px;
        margin-left: 25px;
        margin-top: -205px;
        margin-bottom: 20px;
        border-radius: 75px;
    }
      
    h1{
    font-size: 19px;
    margin-left: 30px;
    margin-top: -30px;
    font-family: cursive;
    }

    h1 span{
        color: rgb(223, 66, 92);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    p{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 7px;
        font-size: 15px;
        font-family: monospace;
        text-align: justify;
    }

}


/* tab */

@media (min-width: 501px) and (max-width: 900px){
    
    body{
        background-color: rgb(246, 155, 170);
    }

    .style{
        width: 850px;
        height: 600px;
        background-color: white;
        box-shadow: 10px 10px 5px rgb(106, 102, 102);
        margin-top: 25px;
        margin-left: 25px;
    }
        
    nav a{
        color: gray;
        text-decoration: none;
        font-size: 23px;
        padding-left: 50px;  
        font-weight: bold;
        font-family: monospace;
    }

    nav{
        margin-top: -580px;
        height: 80px;
        margin-left: 180px;
    }

    nav a:hover{
        color: rgb(65, 63, 63);
        text-decoration: underline;
    }

    nav .active{
        color: black;
        text-decoration: underline;
    }

    nav span{
        background-color: rgb(107, 95, 101);
        color: white;
        padding: 4px 19px;
        margin-left: 520px;
        border-radius: 10px;
    }
    
    nav span:hover{
        background-color: black;
        color: white;
    }

    .logo img{
        width: 110px;
        height: 130px;
        margin-left: 50px;
        margin-top: -75px;
        border-radius: 75px;
    }
        
    h1{
    text-align: center;
    margin-top: -50px;
    font-family: cursive;
    font-size: 30px;
    }

    h1 span{
        color: rgb(223, 66, 92);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    p{
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 30px;
        font-size: 21px;
        font-family: monospace;
        text-align: justify;
    }

}